<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bt">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/icon_launcher"
        android:theme="@android:style/ThemeOverlay.Material.Dark"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".services.ForegroundService"
            android:label="FG Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/modern">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ColorPickActivity" android:theme="@style/modern"/>
        <activity android:name=".activities.MusicActivity" android:theme="@style/modern"/>
        <activity android:name=".activities.SettingsActivity" android:theme="@style/modern"/>
        <activity android:name=".activities.NotificationEventsActivity" android:theme="@style/modern"/>

    </application>

</manifest>